main {
    background-color: burlywood;
    width: 10em;
    margin: 0 auto;
    padding: 0;
}

.container {
    display: flex;
    align-items: stretch;
}

canvas {
    background-color: yellowgreen;
}

#buttonOben, #buttonUnten{
    display: block;
    width: 100%;
}
#buttonLinks, #buttonRechts{
    
}