body {
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
}

#ausgabe{
    text-align: center;
    background-color: yellowgreen;
    padding: 1em;
    border-radius: 0.5em;
    font-weight: bold;
}

main {
    width: 14em;
    margin: 0 auto;
    padding: 0;
}

.container {
    display: flex;
    align-items: stretch;
}

canvas {
    width: 11em;
    background-color: yellowgreen;
}

#buttonOben, #buttonUnten{
    display: block;
    width: 100%;
}
#buttonLinks, #buttonRechts{
    
}